/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

img {
    border: 0px;
}

body {
	margin: 0;
	background: #5C9E1F url(images/back_all2.gif) repeat-x top;
}

body, th, td, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

#contmain {
    width: 100%;
    margin-top: 22px;
}

h1, h2, h3 {
	color: #246030;
}

h1 {
	font-size: 3em;
}

h2 {
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #246030;
}


h3 {
	font-size: 1em;
}

ul, ol {
	margin-left: 3em;
}

a {
	text-decoration: underline;
	color: #246030;
}

a:hover {
	border: none;
	text-decoration: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #246030;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #246030;
}


#main {
    width: 778px;
    border-left: 10px solid #E4F9D1;
    border-right: 10px solid #E4F9D1;
    margin: 0 auto;
    margin-top: 22px;
    padding-top: 10px;
    background: #E4F9D1;
}

/* Header */

#header {
	width: 778px;
	margin: 0 auto;
	height: 113px;
}

#logInWrap {
	height: 38px;
	margin: 0 auto;
	width: 798px;
	background: url(images/menu.gif) repeat-x;
	font-weight: bold;
	color: #ffffff;
}

#logInWrap2 {
    padding: 10px 10px 0 10px;
}

#logInWrap #left {
    float: left;
}

#logInWrap #right {
    float: right;
}

#logInWrap a {
    color: #ffffff;
}

/* Logo */

#logo {
	width: 778px;
	height: 113px;
	margin: 0 auto;
	background: url(images/header.jpg) no-repeat left top;
	text-align: left;
}

#logo h1 {
	padding-top: 80px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 18px;
}

#logo h2 {
	font-style: italic;
	font-size: 10px;
	padding-left: 20px;
}

#logo a {
	color: #ffffff;
}

/* Page */

#page {
	width: 778px;
	border-top: none;
}

/* Content */

#content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#content h4 {
    background: url(images/h2.gif) no-repeat;
    height: 28px;
    padding-left: 20px;
    padding-top: 10px;
    color: #ffffff;
}

#content h4 a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

#content p {
    line-height: 20px;
}

.date {
	text-align: right;
	color: #918E48;
	font-size: 11px;
}

.date a {
	color: #918E48;
}

/* Sidebars */

.sidebar {
	margin-left: 35px;
	float: right;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar2 {
  	width: 273px;
	padding-top: 20px;
}

#sidebar2 li h2 {
	background: url(images/title.gif) no-repeat left top;
	height: 30px;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 14px;
}

#sidebar2 li ul {
	line-height: normal;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
}

#sidebar2 li li {
	padding: 5px;

	background: url(images/small.png) no-repeat left;
	font-size: .8em;
}

#sidebar2 li a {
	border: none;
	padding-left: 10px;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}

#bottom
{
}

/* Footer */
#footer
{
padding-top: 20px;
height: 54px;
width: 778px;
background: url(images/footer.gif) top repeat-x;
}

#footer p {
	text-align: center;
	font-size: 9px;
	color: #5C9E1F;
	margin: 0px;
	padding: 0px;
}
#footer a {
    color: #5C9E1F
}